<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zarate.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="CETI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".unoAct"
            android:label="Login Alumno"/>
        <activity android:name=".loginActDocent"
            android:label="Login Docente"/>
        <activity android:name=".loginActAdmin"
            android:label="Login Admin"/>
        <activity android:name=".Admin1Act"
            android:label="Bienvenido Administrador"/>
        <activity android:name=".crearDocenteAct"
            android:label="Crear"/>
        <activity android:name=".crearAlumnoAct"
            android:label="Crear" />
        <activity android:name=".eliminarDocenteAct"
            android:label="Eliminar"/>
        <activity
            android:name=".alumno1stAct"
            android:label="Bienvenido Alumno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".eliminarAlumnAct"
            android:label="Eliminar"/>
        <activity android:name=".actualizarAlumnoAct"
            android:label="Actualizar"/>
        <activity android:name=".actualizarDocenteAct"
            android:label="Actualizar"/>
        <activity
            android:name=".docente1stAct"
            android:label="Bienvenido Docente"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>